.company-section {
  font-family: "Clash Display", sans-serif;
  width: 100%;
  background: #050505;
  overflow: hidden;
  padding: 40px 0;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
 animation: anim1 3.1s ease-in forwards;
}

/* LOADING ANIMATION */

@keyframes anim1{
   from{
    opacity: 0;
    /* transform: translate(40px); */
   }
   to{
    opacity: 1;
    transform: translate(0,0);
   }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-flex;

  gap: 80px;

  width: max-content;

  animation: marquee 10s linear infinite;

  will-change: transform;
}

.marquee-content h1 {
  font-size: 120px;
  font-weight: 800;
  margin: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5f5f5f;
  cursor: pointer;
  transition: 0.15s ease;
}


/* GRADIENT HOVER */
.marquee-content h1:hover {

  background: linear-gradient(
    135deg,
    #7c3aed,
    #06b6d4
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transform: scale(1.05);
}


/* PERFECT LOOP */
@keyframes marquee {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


/* =========================
   RESPONSIVE
========================= */


/* LAPTOP */
@media (max-width: 1200px) {

  .marquee-content {
    gap: 60px;
    animation: marquee 8.5s linear infinite;
  }

  .marquee-content h1 {
    font-size: 95px;
  }
}


/* TABLET */
@media (max-width: 992px) {

  .company-section {
    padding: 35px 0;
  }

  .marquee-content {
    gap: 50px;
    animation: marquee 8.5s linear infinite;
  }

  .marquee-content h1 {
    font-size: 75px;
    letter-spacing: 2px;
  }
}


/* MOBILE LARGE */
@media (max-width: 768px) {

  .company-section {
    padding: 28px 0;
  }

  .marquee-content {
    gap: 40px;
    animation: marquee 8.5s linear infinite;
  }

  .marquee-content h1 {
    font-size: 58px;
    letter-spacing: 1.5px;
  }
}


/* MOBILE */
@media (max-width: 576px) {

  .company-section {
    padding: 22px 0;
  }

  .marquee-content {
    gap: 30px;
    animation: marquee 8.5s linear infinite;
  }

  .marquee-content h1 {
    font-size: 42px;
    letter-spacing: 1px;
  }
}


/* SMALL MOBILE */
@media (max-width: 380px) {

  .company-section {
    padding: 18px 0;
  }

  .marquee-content {
    gap: 22px;
    animation: marquee 8.5s linear infinite;
  }

  .marquee-content h1 {
    font-size: 30px;
  }
}


/* EXTRA SMALL */
@media (max-width: 280px) {

  .marquee-content {
    gap: 18px;
    animation: marquee 8.5s linear infinite;
  }

  .marquee-content h1 {
    font-size: 22px;
    letter-spacing: 0.5px;
  }
}