@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  overflow: hidden; /* IMPORTANT */
  background: #050505;

  scroll-behavior: auto;

  overscroll-behavior: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-scroll-container]{
  min-height: 100vh;
  will-change: transform;
}